@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url("https://fonts.googleapis.com/css?family=Old+Standard+TT:400,700|Montserrat:400,900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.flex-center {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 567px) {
    .flex-center {
      flex-direction: column; } }

@-webkit-keyframes bgcolor {
  0% {
    background-color: #ffccf2; }
  50% {
    background-color: #ccffcc; }
  100% {
    background-color: #ccfff; } }

@-moz-keyframes bgcolor {
  0% {
    background-color: #ffccf2; }
  50% {
    background-color: #ccffcc; }
  100% {
    background-color: #ccfff; } }

@-ms-keyframes bgcolor {
  0% {
    background-color: #ffccf2; }
  50% {
    background-color: #ccffcc; }
  100% {
    background-color: #ccfff; } }

@keyframes bgcolor {
  0% {
    background-color: #ffccf2; }
  50% {
    background-color: #ccffcc; }
  100% {
    background-color: #ccfff; } }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both; }

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 40px, 0); }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

.animatedFadeInUp {
  opacity: 0; }

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp; }

.scrolling_animate {
  opacity: 0; }

@-webkit-keyframes opacityy {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes opacityy {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes opacityy {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opacityy {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.animatedopacityy {
  opacity: 0; }

.opacityy {
  opacity: 0;
  animation-name: opacityy;
  -webkit-animation-name: opacityy; }

.opacityy_animate {
  opacity: 0; }

#nav {
  background: #36b1ac;
  width: 100%;
  position: fixed;
  color: #FFF;
  z-index: 2;
  transition: all ease .5s;
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); }
  #nav.opaque {
    background-color: rgba(255, 255, 255, 0.7) !important;
    border-color: rgba(255, 255, 255, 0.7) !important;
    color: #000 !important;
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); }
    #nav.opaque .header .logo {
      background-image: url(/images/logo_b.svg) !important; }
    #nav.opaque .header .top-nav li .btn-border:before {
      background: #000 !important; }
    #nav.opaque .header .top-nav li .btn-log {
      border: solid 1px #000 !important;
      background-color: transparent !important; }
      #nav.opaque .header .top-nav li .btn-log:hover {
        color: #FFF !important; }
  #nav .header {
    text-align: left;
    height: 80px;
    line-height: 80px;
    position: relative; }
    #nav .header .logo {
      display: inline-block;
      width: 180px;
      height: 30px;
      line-height: 64px;
      font-weight: 800;
      background-image: url(/images/logo_w.svg);
      background-size: 180px 30px;
      margin: 24px; }
      @media screen and (max-width: 567px) {
        #nav .header .logo {
          margin: 25px 21px; } }
    #nav .header .top-nav {
      position: absolute;
      right: 15px;
      display: inline-block;
      vertical-align: middle; }
      @media screen and (max-width: 567px) {
        #nav .header .top-nav {
          display: none; } }
      #nav .header .top-nav li {
        display: inline-block;
        text-decoration: none;
        padding-left: 5px; }
        #nav .header .top-nav li:last-child {
          padding-left: 20px; }
        #nav .header .top-nav li a {
          text-decoration: none;
          font-weight: 300; }
        #nav .header .top-nav li .btn-border {
          text-align: center;
          display: inline-block;
          cursor: pointer;
          letter-spacing: 1px;
          position: relative;
          font-weight: 500;
          padding: 0 20px;
          margin: 10px 0;
          line-height: 40px;
          font-size: 18px; }
          #nav .header .top-nav li .btn-border:before {
            content: "";
            position: absolute;
            width: 0;
            background: #FFF;
            left: 45%;
            height: 2px;
            bottom: 0;
            transition: all .3s;
            opacity: 0.7; }
          #nav .header .top-nav li .btn-border:hover:before {
            width: 100%;
            left: 0; }
        #nav .header .top-nav li .btn-log {
          display: inline-block;
          cursor: pointer;
          letter-spacing: 1px;
          position: relative;
          line-height: 40px;
          border-radius: 37px;
          border: solid 1px #FFF;
          background-color: transparent;
          -moz-transition: 0.6s;
          -o-transition: 0.6s;
          -webkit-transition: 0.6s;
          transition: 0.6s;
          padding: 0px 15px;
          font-weight: 500;
          font-size: 18px; }
          #nav .header .top-nav li .btn-log:hover {
            background-color: #FFF;
            border: solid 1px #FFF;
            color: #36b1ac !important; }

@media screen and (max-width: 567px) {
  #nav.opaque {
    background-color: rgba(255, 255, 255, 0.9) !important; }
  #container-menu {
    width: 100%;
    height: 95%;
    position: fixed;
    color: #FFF;
    z-index: 2; }
    #container-menu.opaque2 .navToggle .icon {
      background-color: #000; }
      #container-menu.opaque2 .navToggle .icon:before, #container-menu.opaque2 .navToggle .icon:after {
        background-color: #000; }
    #container-menu.opaque2 #back-menu.focus {
      background-color: rgba(255, 255, 255, 0.9); }
    #container-menu.opaque2 #menu li {
      color: #000 !important; }
      #container-menu.opaque2 #menu li:before {
        background: #000 !important; }
    #container-menu.opaque2 #menu .btn-log {
      border: solid 2px #000; }
      #container-menu.opaque2 #menu .btn-log:hover {
        color: #FFF; }
    #container-menu .navToggle {
      z-index: 4;
      position: absolute;
      width: 60px;
      height: 92px;
      top: -23px;
      right: -3px;
      margin: 0 auto;
      cursor: pointer; }
      #container-menu .navToggle .icon {
        -webkit-transition: all 0.4s ease-out;
        position: absolute;
        top: 60px;
        left: 0;
        margin: 0 auto;
        width: 30px;
        height: 3px;
        background-color: #FFF; }
        #container-menu .navToggle .icon:before, #container-menu .navToggle .icon:after {
          -webkit-transition: all 0.25s ease-out;
          position: absolute;
          width: 30px;
          height: 3px;
          background-color: #FFF;
          content: ''; }
        #container-menu .navToggle .icon:before {
          top: -10px;
          left: 0; }
        #container-menu .navToggle .icon:after {
          top: 10px;
          left: 0; }
      #container-menu .navToggle:hover:before {
        top: -25px;
        background-color: #555; }
      #container-menu .navToggle:hover:after {
        top: 25px;
        background-color: #555; }
      #container-menu .navToggle.open .icon {
        -webkit-transition: all 0.4s ease-out;
        background-color: transparent;
        -webkit-transform: rotate(180deg); }
        #container-menu .navToggle.open .icon:before {
          top: 0;
          -webkit-transform: rotate(45deg); }
        #container-menu .navToggle.open .icon:after {
          top: 0;
          -webkit-transform: rotate(-45deg); }
    #container-menu #back-menu {
      /* padding: 70px; */
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      -ms-flex-pack: justify;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-around;
      position: absolute;
      top: 80px;
      z-index: 200; }
      #container-menu #back-menu.focus {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-around;
        position: absolute;
        top: 80px;
        z-index: 200;
        -webkit-transition: all 0.5s; }
    #container-menu #menu {
      z-index: 111;
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute;
      width: 200px;
      height: 0px;
      overflow: hidden;
      text-align: center;
      border-bottom: 1px solid transparent;
      -webkit-transition: all 0.5s; }
      #container-menu #menu ul {
        list-style: none;
        padding: 0;
        font-family: sans-serif;
        font-size: 30px;
        font-weight: 300;
        display: flex;
        flex-direction: column; }
      #container-menu #menu li:first-child {
        margin-top: 0; }
      #container-menu #menu li {
        text-align: center;
        display: inline-block;
        cursor: pointer;
        letter-spacing: 1px;
        position: relative;
        padding: 0 20px;
        margin: 10px 0;
        line-height: 40px;
        margin: 30px 0;
        padding: 5px 0;
        cursor: pointer;
        text-decoration: none;
        -webkit-transition: all 0.25s; }
        #container-menu #menu li:before {
          content: "";
          position: absolute;
          width: 0;
          background: #fff;
          left: 45%;
          height: 2px;
          bottom: 0;
          transition: all .3s;
          opacity: 0.7; }
        #container-menu #menu li:hover:before {
          width: 100%;
          left: 0; }
      #container-menu #menu.active {
        height: 320px; }
      #container-menu #menu .btn-log {
        cursor: pointer;
        border-radius: 37px;
        border: solid 2px #FFF;
        background-color: transparent;
        -moz-transition: 0.6s;
        -o-transition: 0.6s;
        -webkit-transition: 0.6s;
        transition: 0.6s; }
        #container-menu #menu .btn-log:hover {
          background-color: #FFF;
          border: solid 2px #FFF;
          color: #36b1ac; } }

#main {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 80px;
  text-align: center; }
  #main .section_gray_light {
    padding: 90px 15px;
    background-color: #e0e0e0; }
    @media screen and (max-width: 567px) {
      #main .section_gray_light {
        padding: 15px; } }
  #main .section_grey {
    background-color: #808080;
    color: #FFF; }
  #main .section_white {
    padding: 90px 15px;
    background-color: #FFF; }
    @media screen and (max-width: 567px) {
      #main .section_white {
        padding: 15px; } }
  #main .scroll {
    margin-top: -27px;
    z-index: 5;
    height: 50px; }
  #main .scroll2 {
    z-index: 5;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 30px; }
  #main .wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-align-items: center;
    align-items: center; }
  #main .section_3 {
    padding: 75px 0 45px 0; }
  #main h2 {
    font-size: 38px; }
    @media screen and (max-width: 567px) {
      #main h2 {
        font-size: 28px; } }
  #main h3 {
    font-size: 25px; }
  #main #landigns .description {
    font-size: 20px;
    line-height: 1.5; }
    @media screen and (max-width: 567px) {
      #main #landigns .description {
        font-size: 15px; } }
  @media screen and (min-width: 567px) and (max-width: 1300px) {
    #main .text, #main figure {
      padding: 0;
      width: 90%; } }
  #main .btn_mid .btn_s {
    margin: 10px auto 50px auto; }
    @media screen and (max-width: 567px) {
      #main .btn_mid .btn_s {
        margin: 0 auto 20px auto; } }

.btn_mid {
  width: 100%; }
  .btn_mid .btn_w {
    height: 50px;
    cursor: pointer;
    display: block;
    margin: auto;
    padding: 10px 15px;
    font-size: 1.3em;
    font-weight: 600;
    color: #FFF;
    border-radius: 50px;
    border: none;
    letter-spacing: 0.7;
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    padding: 10px 15px; }
    @media screen and (max-width: 567px) {
      .btn_mid .btn_w {
        width: 75%;
        height: 45px;
        font-size: 1.1em; } }

.js-scrollTo {
  margin-bottom: 100px; }

#footer_index {
  position: relative;
  background-color: #3c3c3b;
  padding: 45px 0 60px 0;
  color: #FFF; }
  #footer_index ul li {
    margin-bottom: 7.5px;
    cursor: pointer; }
  #footer_index .text-footer {
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    margin-top: 30px; }
  #footer_index #rubriques {
    text-align: center; }
    #footer_index #rubriques h3 {
      cursor: pointer;
      font-size: 20px;
      color: #36b1ac; }
      @media screen and (max-width: 567px) {
        #footer_index #rubriques h3 {
          padding-top: 30px; } }
  #footer_index #rubriques, #footer_index #res_soc, #footer_index #terms-privacy {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  @media screen and (max-width: 567px) {
    #footer_index #rubriques, #footer_index #terms-privacy {
      flex-direction: column; } }
  #footer_index #navigation {
    padding-right: 120px; }
  #footer_index #share {
    padding: 0 60px; }
    #footer_index #share .footericon:first-child {
      width: 35px; }
    #footer_index #share .footericon {
      margin: 15px 30px;
      width: 30px; }
    #footer_index #share #res_soc {
      padding: 0 0 45px 0; }
      @media screen and (max-width: 567px) {
        #footer_index #share #res_soc {
          padding: 0; } }
  #footer_index #nouscont_faq_cont {
    padding-left: 120px; }
  #footer_index #navigation, #footer_index #share, #footer_index #nouscont_faq_cont {
    width: 25%; }
    @media screen and (max-width: 567px) {
      #footer_index #navigation, #footer_index #share, #footer_index #nouscont_faq_cont {
        width: 100%;
        padding: 0; } }
  #footer_index #terms-privacy .text-invert {
    padding: 5px; }
    #footer_index #terms-privacy .text-invert:hover {
      text-decoration: underline; }

#header {
  padding: 90px 15px;
  width: 100%;
  position: relative;
  padding-right: 0;
  padding-left: 0; }
  @media screen and (max-width: 567px) {
    #header {
      min-height: 80%;
      padding: 45px 0; } }
  #header .text {
    text-align: center; }
    @media screen and (max-width: 567px) {
      #header .text {
        padding: 0 30px; } }
    #header .text h1 {
      font-size: 35px; }
    #header .text h2 {
      font-size: 25px; }
  #header .btn_mid {
    width: 100%; }
    #header .btn_mid .btn_w {
      background-color: #36b1ac;
      border: solid 1px #36b1ac;
      width: 210px; }
      #header .btn_mid .btn_w:hover {
        border: solid 1px #FFF;
        background-color: transparent;
        color: #FFF; }
        #header .btn_mid .btn_w:hover a {
          color: #FFF; }

#formulaire .formulaire {
  width: 90%;
  padding: 15px;
  background-color: #36b1ac; }
  @media screen and (max-width: 567px) {
    #formulaire .formulaire {
      width: 100%; } }
  #formulaire .formulaire .main-content {
    padding: 20px;
    /* form specific formatting */ }
    #formulaire .formulaire .main-content .form-group {
      display: flex;
      flex-direction: row; }
      #formulaire .formulaire .main-content .form-group:last-child .input-control {
        margin-bottom: 0; }
      #formulaire .formulaire .main-content .form-group label {
        flex: none;
        display: block;
        width: 125px;
        font-weight: bold;
        font-size: 1em; }
      #formulaire .formulaire .main-content .form-group label.right-inline {
        text-align: right;
        padding-right: 8px;
        padding-left: 10px;
        width: auto; }
      #formulaire .formulaire .main-content .form-group .input-control {
        flex: 1 1 auto;
        display: block;
        margin-bottom: 20px;
        padding: 20px 15px;
        border: none;
        font-size: 20px; }
        #formulaire .formulaire .main-content .form-group .input-control:nth-child(2) {
          margin-right: 20px; }
        #formulaire .formulaire .main-content .form-group .input-control:hover {
          background: rgba(255, 255, 255, 0.7); }
  @media screen and (max-width: 567px) {
    #formulaire .formulaire .main-content {
      padding: 20px 8px; }
      #formulaire .formulaire .main-content .form-group {
        flex-direction: column; }
        #formulaire .formulaire .main-content .form-group .input-control {
          margin-bottom: 20px !important;
          margin-right: 0; }
          #formulaire .formulaire .main-content .form-group .input-control:nth-child(3) {
            margin-bottom: 0 !important; }
          #formulaire .formulaire .main-content .form-group .input-control:nth-child(2) {
            margin-right: 0; }
        #formulaire .formulaire .main-content .form-group label.right-inline {
          text-align: left;
          padding-right: 0;
          padding-left: 0; } }

#formulaire .voit_scoot {
  width: 90%; }
  #formulaire .voit_scoot h3 {
    margin-top: 30px !important;
    margin: 0; }
  #formulaire .voit_scoot #voitures, #formulaire .voit_scoot #scooters {
    position: relative;
    margin: 30px 0; }
    #formulaire .voit_scoot #voitures img, #formulaire .voit_scoot #scooters img {
      width: 100%; }
    @media screen and (max-width: 567px) {
      #formulaire .voit_scoot #voitures, #formulaire .voit_scoot #scooters {
        width: 100%; } }
    #formulaire .voit_scoot #voitures .image, #formulaire .voit_scoot #scooters .image {
      display: block;
      height: auto; }
    #formulaire .voit_scoot #voitures .overlay, #formulaire .voit_scoot #scooters .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      opacity: 0;
      transition: .5s ease;
      background: rgba(255, 255, 255, 0.7); }
      #formulaire .voit_scoot #voitures .overlay .text, #formulaire .voit_scoot #scooters .overlay .text {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); }
      #formulaire .voit_scoot #voitures .overlay:hover, #formulaire .voit_scoot #scooters .overlay:hover {
        cursor: pointer;
        opacity: 1; }
        #formulaire .voit_scoot #voitures .overlay:hover .text, #formulaire .voit_scoot #scooters .overlay:hover .text {
          color: #000 !important;
          font-size: 30px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%); }
  #formulaire .voit_scoot #voitures {
    margin-right: 15px; }
    #formulaire .voit_scoot #voitures .image {
      width: 100%; }
  #formulaire .voit_scoot #scooters {
    margin-left: 15px; }
    #formulaire .voit_scoot #scooters .image {
      width: 110%; }

#formulaire .btn_mid {
  width: 100%; }
  #formulaire .btn_mid .btn_w {
    border: solid 1px #36b1ac;
    background-color: transparent;
    color: #36b1ac;
    width: 210px; }
    @media screen and (max-width: 567px) {
      #formulaire .btn_mid .btn_w {
        margin: 0 auto; } }
    #formulaire .btn_mid .btn_w:hover {
      background-color: #36b1ac;
      border: solid 1px #36b1ac;
      color: #FFF; }

#formulaire ul {
  list-style-type: none;
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
  width: 93%; }
  #formulaire ul li {
    float: left;
    width: 48%; }
  #formulaire ul li a, #formulaire ul .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  #formulaire ul .dropdown {
    display: inline-block; }
  #formulaire ul .dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
  #formulaire ul .dropdown-content a {
    width: 25%;
    color: black;
    padding: 12px 16px;
    text-decoration: none; }
  #formulaire ul .dropdown-content a:hover {
    background-color: #f1f1f1; }
  #formulaire ul .dropdown:hover .dropdown-content {
    display: block; }

#rubriques_services {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 0; }
  #rubriques_services .wrapper {
    align-items: flex-start; }
    @media screen and (max-width: 567px) {
      #rubriques_services .wrapper {
        padding: 25px 25px 25px 25px; } }
  #rubriques_services h2 {
    width: 100%;
    margin-bottom: 40px; }
  #rubriques_services .footer_description {
    width: 25%;
    float: left;
    margin: 15px 30px; }
    #rubriques_services .footer_description .img_section_7 {
      width: 200px;
      height: 200px;
      margin: 0 auto 25px auto; }
      #rubriques_services .footer_description .img_section_7 img {
        width: 200px;
        height: 200px; }
    #rubriques_services .footer_description .description {
      font-size: 15px; }
  @media screen and (max-width: 567px) {
    #rubriques_services .footer_description {
      width: 100%; }
    #rubriques_services .btn_s {
      margin: 10px auto 0px auto; } }

#cont_formulaire {
  padding: 90px 15px;
  background-color: #36b1ac; }
  @media screen and (max-width: 567px) {
    #cont_formulaire {
      width: 100%;
      padding: 45px 0; } }
  #cont_formulaire h3 {
    color: #FFF; }
  #cont_formulaire .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto; }
  #cont_formulaire .container * {
    box-sizing: border-box; }
  #cont_formulaire .flex-outer,
  #cont_formulaire .flex-inner {
    list-style-type: none;
    padding: 0; }
  #cont_formulaire .flex-outer {
    max-width: 800px;
    margin: 0 auto; }
  #cont_formulaire .flex-outer li,
  #cont_formulaire .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  #cont_formulaire .flex-inner {
    padding: 0 8px;
    justify-content: space-between; }
  #cont_formulaire .flex-outer > li:not(:last-child) {
    margin-bottom: 20px; }
  #cont_formulaire .flex-outer > li > label,
  #cont_formulaire .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px; }
  #cont_formulaire .flex-outer > li > label + *,
  #cont_formulaire .flex-inner {
    flex: 1 0 70%;
    /*220px*/ }
  #cont_formulaire .flex-outer li p {
    margin: 0; }
  #cont_formulaire .flex-outer li input:not([type='checkbox']),
  #cont_formulaire .flex-outer li textarea {
    padding: 20px 15px;
    border: none;
    font-size: 20px;
    width: 100%; }
    #cont_formulaire .flex-outer li input:not([type='checkbox']):hover,
    #cont_formulaire .flex-outer li textarea:hover {
      background: rgba(255, 255, 255, 0.7); }
  #cont_formulaire .flex-inner li {
    width: 100px; }
  #cont_formulaire .btn_mid {
    width: 100%; }
    #cont_formulaire .btn_mid .btn_w {
      border: solid 1px #FFF;
      background-color: transparent;
      width: 210px; }
      @media screen and (max-width: 567px) {
        #cont_formulaire .btn_mid .btn_w {
          margin: 0 auto; } }
      #cont_formulaire .btn_mid .btn_w:hover {
        background-color: #FFF;
        border: solid 1px #FFF;
        color: #36b1ac; }

#services {
  height: 600px; }

#fidelites p {
  line-height: 1.7;
  font-size: 18px; }
  @media screen and (max-width: 567px) {
    #fidelites p {
      width: 100%;
      line-height: 1.4;
      font-size: 15px; } }

#fidelites h3 {
  width: 100%;
  line-height: 33px; }
  @media screen and (max-width: 567px) {
    #fidelites h3 {
      margin: 15px 0 !important; } }

#fidelites .border_bottom {
  height: 2px;
  margin: 0 auto 60px auto;
  width: 30%;
  background-color: #000; }
  @media screen and (max-width: 567px) {
    #fidelites .border_bottom {
      width: 50%;
      margin: 0 auto 30px; } }

#fidelites .footer_description:hover {
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }

#fidelites #header_fidelite #comp_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  @media screen and (max-width: 567px) {
    #fidelites #header_fidelite #comp_buttons {
      flex-direction: column;
      margin-top: 15px; } }

#fidelites #header_fidelite .btn_mid {
  margin: 0 30px;
  width: 25%;
  float: left; }
  @media screen and (max-width: 567px) {
    #fidelites #header_fidelite .btn_mid {
      width: 100%;
      margin: 0; } }
  #fidelites #header_fidelite .btn_mid .btn_w {
    background-color: transparent;
    border: solid 1px #36b1ac;
    color: #36b1ac; }
    @media screen and (max-width: 567px) {
      #fidelites #header_fidelite .btn_mid .btn_w {
        margin-bottom: 15px; } }
    #fidelites #header_fidelite .btn_mid .btn_w:hover {
      border: solid 1px #36b1ac;
      background-color: #36b1ac;
      color: #FFF; }

#fidelites #header_fidelite h3 {
  margin: 60px 0 30px 0; }

#fidelites #header_fidelite .text_entete {
  width: 70%;
  margin: 0 auto; }
  @media screen and (max-width: 567px) {
    #fidelites #header_fidelite .text_entete {
      width: 100%;
      margin: 0; } }

#fidelites #mes_points h3, #fidelites #gagner_points h3, #fidelites #avantages_points h3, #fidelites #inviter_points h3 {
  margin-bottom: 30px; }

#fidelites #gagner_points, #fidelites #avantages_points, #fidelites #inviter_points {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 0; }
  #fidelites #gagner_points .wrapper, #fidelites #avantages_points .wrapper, #fidelites #inviter_points .wrapper {
    align-items: flex-start; }
    @media screen and (max-width: 567px) {
      #fidelites #gagner_points .wrapper, #fidelites #avantages_points .wrapper, #fidelites #inviter_points .wrapper {
        padding: 25px 25px 25px 25px; } }
  #fidelites #gagner_points .footer_description, #fidelites #avantages_points .footer_description, #fidelites #inviter_points .footer_description {
    width: 25%;
    float: left;
    margin: 15px 30px; }

#fidelites #gagner_points .footer_description .img_mes_points {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #000;
  margin: 0 auto 25px auto;
  -moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05); }
  #fidelites #gagner_points .footer_description .img_mes_points .number_text {
    font-family: 'Old Standard TT', serif;
    color: #FFF;
    padding: 60px 45px; }
    #fidelites #gagner_points .footer_description .img_mes_points .number_text h1 {
      font-size: 60px;
      margin-bottom: 0;
      font-weight: 700; }
    #fidelites #gagner_points .footer_description .img_mes_points .number_text .points {
      font-style: italic;
      font-size: 20px; }

#fidelites #gagner_points .footer_description .description {
  color: #808080; }

@media screen and (max-width: 567px) {
  #fidelites #gagner_points .wrapper {
    padding: 0; }
  #fidelites #gagner_points .footer_description {
    width: 50%;
    margin: 15px 0; }
    #fidelites #gagner_points .footer_description .img_mes_points {
      width: 100px;
      height: 100px;
      margin: 0 auto 15px auto;
      -moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
      -o-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
      box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05); }
      #fidelites #gagner_points .footer_description .img_mes_points .number_text {
        color: #FFF;
        padding: 30px 7.5px; }
        #fidelites #gagner_points .footer_description .img_mes_points .number_text h1 {
          font-family: 'Old Standard TT', serif;
          font-size: 15px;
          margin-bottom: 0;
          font-weight: 700; }
        #fidelites #gagner_points .footer_description .img_mes_points .number_text .points {
          font-family: 'Old Standard TT', serif;
          font-style: italic;
          font-size: 15px;
          margin-bottom: 0; }
    #fidelites #gagner_points .footer_description .description {
      font-style: normal;
      font-size: 12px;
      margin-bottom: 0;
      padding: 0 6px;
      line-height: 1.3;
      width: 100px;
      margin: 0 auto; }
  #fidelites #gagner_points .btn_s {
    margin: 10px auto 0px auto; } }

#fidelites #avantages_points .footer_description .img_mes_points {
  width: 200px;
  height: 200px;
  border: 4px solid #000;
  margin: 0 auto 30px auto;
  -moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05); }
  #fidelites #avantages_points .footer_description .img_mes_points .number_text {
    color: #000;
    padding: 30px 15px; }
    #fidelites #avantages_points .footer_description .img_mes_points .number_text h1 {
      font-family: 'Old Standard TT', serif;
      font-size: 60px;
      margin-bottom: 0;
      font-weight: 700; }
    #fidelites #avantages_points .footer_description .img_mes_points .number_text .points {
      font-family: 'Old Standard TT', serif;
      font-style: italic;
      font-size: 20px; }
    #fidelites #avantages_points .footer_description .img_mes_points .number_text .border_bottom {
      height: 2px;
      margin: 15px auto;
      width: 100%;
      background-color: #000; }
    #fidelites #avantages_points .footer_description .img_mes_points .number_text .description {
      font-style: normal; }

@media screen and (max-width: 567px) {
  #fidelites #avantages_points .wrapper {
    padding: 0; }
  #fidelites #avantages_points .footer_description {
    width: 50%;
    margin: 15px 0; }
    #fidelites #avantages_points .footer_description .img_mes_points {
      width: 100px;
      height: 90px;
      border: 2px solid #000;
      margin: 0 auto 0 auto;
      -moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
      -o-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
      box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05); }
      #fidelites #avantages_points .footer_description .img_mes_points .number_text {
        color: #000;
        padding: 15px 7.5px; }
        #fidelites #avantages_points .footer_description .img_mes_points .number_text h1 {
          font-family: 'Old Standard TT', serif;
          font-size: 15px;
          margin-bottom: 0;
          font-weight: 700; }
        #fidelites #avantages_points .footer_description .img_mes_points .number_text .points {
          font-family: 'Old Standard TT', serif;
          font-style: italic;
          font-size: 15px;
          margin-bottom: 0; }
        #fidelites #avantages_points .footer_description .img_mes_points .number_text .border_bottom {
          height: 2px;
          margin: 7.5px auto;
          width: 100%;
          background-color: #000; }
        #fidelites #avantages_points .footer_description .img_mes_points .number_text .description {
          font-style: normal;
          font-size: 7.5px;
          margin-bottom: 0; }
  #fidelites #avantages_points .btn_s {
    margin: 10px auto 0px auto; } }

#fidelites #inviter_points .wrapper {
  flex-wrap: nowrap; }
  #fidelites #inviter_points .wrapper .text2 {
    font-size: 15px;
    color: #808080;
    margin-top: 30px; }

#fidelites #inviter_points .footer_description {
  margin-top: 60px;
  width: 40% !important; }
  #fidelites #inviter_points .footer_description .img_mes_points {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: #000;
    margin: 0 auto 25px auto;
    -moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05); }
    #fidelites #inviter_points .footer_description .img_mes_points .number_text {
      padding: 60px 45px; }
  #fidelites #inviter_points .footer_description h1 {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 15px; }
  #fidelites #inviter_points .footer_description .description {
    color: #000; }

@media screen and (max-width: 567px) {
  #fidelites #inviter_points .wrapper {
    padding: 0; }
  #fidelites #inviter_points .footer_description {
    width: 100% !important;
    margin: 0 3px !important; }
    #fidelites #inviter_points .footer_description .img_mes_points {
      width: 100px;
      height: 100px; }
      #fidelites #inviter_points .footer_description .img_mes_points .number_text {
        padding: 30px 20px; }
    #fidelites #inviter_points .footer_description h1 {
      font-size: 15px;
      margin-bottom: 0;
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
      margin-bottom: 15px; }
  #fidelites #inviter_points .btn_s {
    margin: 10px auto 0px auto; } }

#locations p {
  line-height: 1.7;
  font-size: 18px; }
  @media screen and (max-width: 567px) {
    #locations p {
      width: 100%;
      line-height: 1.4;
      font-size: 15px; } }

#locations h3 {
  width: 100%;
  line-height: 33px; }
  @media screen and (max-width: 567px) {
    #locations h3 {
      margin: 15px 0 !important; } }

#locations .border_bottom {
  height: 2px;
  margin: 0 auto 60px auto;
  width: 30%;
  background-color: #000; }
  @media screen and (max-width: 567px) {
    #locations .border_bottom {
      width: 50%;
      margin: 0 auto 30px; } }

#locations .footer_description:hover {
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }

#locations #header_fidelite #comp_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  @media screen and (max-width: 567px) {
    #locations #header_fidelite #comp_buttons {
      flex-direction: column;
      margin-top: 15px; } }

#locations #header_fidelite .btn_mid {
  margin: 0 30px;
  width: 25%;
  float: left; }
  @media screen and (max-width: 567px) {
    #locations #header_fidelite .btn_mid {
      width: 100%;
      margin: 0; } }
  #locations #header_fidelite .btn_mid .btn_w {
    background-color: transparent;
    border: solid 1px #36b1ac;
    color: #36b1ac; }
    @media screen and (max-width: 567px) {
      #locations #header_fidelite .btn_mid .btn_w {
        margin-bottom: 15px; } }
    #locations #header_fidelite .btn_mid .btn_w:hover {
      border: solid 1px #36b1ac;
      background-color: #36b1ac;
      color: #FFF; }

#locations #header_fidelite h3 {
  margin: 60px 0 30px 0; }

#locations #header_fidelite .text_entete {
  width: 70%;
  margin: 0 auto; }
  @media screen and (max-width: 567px) {
    #locations #header_fidelite .text_entete {
      width: 100%;
      margin: 0; } }

#locations #mes_points h3, #locations #gagner_points h3, #locations #avantages_points h3, #locations #inviter_points h3 {
  margin-bottom: 30px; }

#locations #gagner_points, #locations #avantages_points, #locations #inviter_points {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 0; }
  #locations #gagner_points .wrapper, #locations #avantages_points .wrapper, #locations #inviter_points .wrapper {
    align-items: flex-start; }
    @media screen and (max-width: 567px) {
      #locations #gagner_points .wrapper, #locations #avantages_points .wrapper, #locations #inviter_points .wrapper {
        padding: 25px 25px 25px 25px; } }
  #locations #gagner_points .footer_description, #locations #avantages_points .footer_description, #locations #inviter_points .footer_description {
    width: 25%;
    float: left;
    margin: 15px 30px; }

#locations #gagner_points .footer_description .img_mes_points {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #000;
  margin: 0 auto 25px auto;
  -moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05); }
  #locations #gagner_points .footer_description .img_mes_points .number_text {
    font-family: 'Old Standard TT', serif;
    color: #FFF;
    padding: 60px 45px; }
    #locations #gagner_points .footer_description .img_mes_points .number_text h1 {
      font-size: 60px;
      margin-bottom: 0;
      font-weight: 700; }
    #locations #gagner_points .footer_description .img_mes_points .number_text .points {
      font-style: italic;
      font-size: 20px; }

#locations #gagner_points .footer_description .description {
  color: #808080; }

@media screen and (max-width: 567px) {
  #locations #gagner_points .wrapper {
    padding: 0; }
  #locations #gagner_points .footer_description {
    width: 50%;
    margin: 15px 0; }
    #locations #gagner_points .footer_description .img_mes_points {
      width: 100px;
      height: 100px;
      margin: 0 auto 15px auto;
      -moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
      -o-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
      box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05); }
      #locations #gagner_points .footer_description .img_mes_points .number_text {
        color: #FFF;
        padding: 30px 7.5px; }
        #locations #gagner_points .footer_description .img_mes_points .number_text h1 {
          font-family: 'Old Standard TT', serif;
          font-size: 15px;
          margin-bottom: 0;
          font-weight: 700; }
        #locations #gagner_points .footer_description .img_mes_points .number_text .points {
          font-family: 'Old Standard TT', serif;
          font-style: italic;
          font-size: 15px;
          margin-bottom: 0; }
    #locations #gagner_points .footer_description .description {
      font-style: normal;
      font-size: 12px;
      margin-bottom: 0;
      padding: 0 6px;
      line-height: 1.3;
      width: 100px;
      margin: 0 auto; }
  #locations #gagner_points .btn_s {
    margin: 10px auto 0px auto; } }

#locations #avantages_points .footer_description .img_mes_points {
  width: 200px;
  height: 200px;
  border: 4px solid #000;
  margin: 0 auto 30px auto;
  -moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05); }
  #locations #avantages_points .footer_description .img_mes_points .number_text {
    color: #000;
    padding: 30px 15px; }
    #locations #avantages_points .footer_description .img_mes_points .number_text h1 {
      font-family: 'Old Standard TT', serif;
      font-size: 60px;
      margin-bottom: 0;
      font-weight: 700; }
    #locations #avantages_points .footer_description .img_mes_points .number_text .points {
      font-family: 'Old Standard TT', serif;
      font-style: italic;
      font-size: 20px; }
    #locations #avantages_points .footer_description .img_mes_points .number_text .border_bottom {
      height: 2px;
      margin: 15px auto;
      width: 100%;
      background-color: #000; }
    #locations #avantages_points .footer_description .img_mes_points .number_text .description {
      font-style: normal; }

@media screen and (max-width: 567px) {
  #locations #avantages_points .wrapper {
    padding: 0; }
  #locations #avantages_points .footer_description {
    width: 50%;
    margin: 15px 0; }
    #locations #avantages_points .footer_description .img_mes_points {
      width: 100px;
      height: 90px;
      border: 2px solid #000;
      margin: 0 auto 0 auto;
      -moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
      -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
      -o-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
      box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05); }
      #locations #avantages_points .footer_description .img_mes_points .number_text {
        color: #000;
        padding: 15px 7.5px; }
        #locations #avantages_points .footer_description .img_mes_points .number_text h1 {
          font-family: 'Old Standard TT', serif;
          font-size: 15px;
          margin-bottom: 0;
          font-weight: 700; }
        #locations #avantages_points .footer_description .img_mes_points .number_text .points {
          font-family: 'Old Standard TT', serif;
          font-style: italic;
          font-size: 15px;
          margin-bottom: 0; }
        #locations #avantages_points .footer_description .img_mes_points .number_text .border_bottom {
          height: 2px;
          margin: 7.5px auto;
          width: 100%;
          background-color: #000; }
        #locations #avantages_points .footer_description .img_mes_points .number_text .description {
          font-style: normal;
          font-size: 7.5px;
          margin-bottom: 0; }
  #locations #avantages_points .btn_s {
    margin: 10px auto 0px auto; } }

#locations #inviter_points .wrapper {
  flex-wrap: nowrap; }
  #locations #inviter_points .wrapper .text2 {
    font-size: 15px;
    color: #808080;
    margin-top: 30px; }

#locations #inviter_points .footer_description {
  margin-top: 60px;
  width: 40% !important; }
  #locations #inviter_points .footer_description .img_mes_points {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: #000;
    margin: 0 auto 25px auto;
    -moz-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.6), 0 0 20px rgba(0, 0, 0, 0.05); }
    #locations #inviter_points .footer_description .img_mes_points .number_text {
      padding: 60px 45px; }
  #locations #inviter_points .footer_description h1 {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 15px; }
  #locations #inviter_points .footer_description .description {
    color: #000; }

@media screen and (max-width: 567px) {
  #locations #inviter_points .wrapper {
    padding: 0; }
  #locations #inviter_points .footer_description {
    width: 100% !important;
    margin: 0 3px !important; }
    #locations #inviter_points .footer_description .img_mes_points {
      width: 100px;
      height: 100px; }
      #locations #inviter_points .footer_description .img_mes_points .number_text {
        padding: 30px 20px; }
    #locations #inviter_points .footer_description h1 {
      font-size: 15px;
      margin-bottom: 0;
      font-weight: 600;
      line-height: 1.2;
      text-transform: uppercase;
      margin-bottom: 15px; }
  #locations #inviter_points .btn_s {
    margin: 10px auto 0px auto; } }

* {
  outline: 0; }

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: initial;
  width: 100%; }

video {
  max-width: 100%; }

a {
  text-decoration: none;
  color: inherit !important; }

h1, h2, h3, h4, p {
  margin-bottom: 20px; }
  @media screen and (max-width: 567px) {
    h1, h2, h3, h4, p {
      margin-bottom: 15px; } }

h3 {
  width: 100%;
  font-size: 25px; }

section {
  padding: 60px 0; }
  @media screen and (max-width: 567px) {
    section {
      padding: 0; } }

.btn_mid .btn_w:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1); }
