.about_us
    .formulaire
        padding: $box-pad*3 $box-pad/2
        background-color: $turquoise
        @media screen and (max-width: $break-sm)
            width: auto
            padding: $box-pad*1.5 0
        .main-content
            //flex: 1 auto
            //padding: $box-pad*1.5 $box-pad
            color: $white
            background-color: transparent
            width: 50%
            //margin: $box-pad/1.5
            @media screen and (max-width: $break-sm)
                margin: $box-pad 0 0 0
                // form specific formatting
            h4
                font-size: $box-pad/1.5
                margin-bottom: $box-pad

            .form-group
                display: flex
                flex-direction: row
                align-items: center
                @media screen and (max-width: $break-sm)
                    flex-direction: column
                    align-items: initial
                label
                    display: block
                    width: 130px
                    font-size: 1em
                    margin-bottom: $box-pad/1.5+3px
                    padding-right: $box-pad/1.5
                    text-align: right
                    @media screen and (max-width: $break-sm)
                        text-align: left
                        width: auto
                        padding: 0
                .right-inline
                    text-align: right
                    width: auto
                    @media screen and (max-width: $break-sm)
                        text-align: left
                        padding-right: 0
                        padding-left: 0
                .input-control, .select-control, textarea
                    background-color: $white
                    flex: 4 auto
                    display: block
                    margin-bottom: $box-pad/1.5
                    margin-right: 0
                    padding: $box-pad/1.5
                    border: none
                    font-size: $box-pad/1.5
                    &:hover
                        background: rgba($white, 0.7)
                    @media screen and (max-width: $break-sm)
                        margin-top: 2px
                        margin-right: 0
                .select-control
                    padding: $box-pad/1.5
                    height: 63px

                .btn_mid
                    //margin: $box-pad/2 auto $box-pad auto
                    width: 100%
                    // &:last-child
                    //     margin-bottom: 0
                    .btn_w
                        height: $box-pad+5px
                        font-size: $box-pad/2
                        padding: 0px $box-pad/2
                        border: solid 1px $white
                        background: transparent
                        color: $white
                        @media screen and (max-width: $break-sm)
                            margin-bottom: $box-pad/2
                        &:hover
                            background-color: $white
                            color: $turquoise


    .services
        
