.locations
    line-height: 0

    .diagonale
        background: linear-gradient(to right top, $white 50%, $turquoise 50%)

    .table_loc
        table
            width: 100%
            thead
                font-weight: 600
                tr
                    border-bottom: 1px solid $gray-light-2
                    .arrow
                        width: $box-pad/2
                th
                    padding: $box-pad/1.5 $box-pad/2.5
                    @media screen and (max-width: $break-sm)
                        &:last-child
                            display: none
                @media screen and (max-width: $break-sm)
                    // display: flex
                    // flex-direction: row
                    // flex-wrap: wrap
                    display: none
            tbody
                tr
                    border-bottom: 1px solid $gray-light-2
                    .arrow
                        width: $box-pad/2
                        @media screen and (max-width: $break-sm)
                            display: none
                    @media screen and (max-width: $break-sm)
                        .pipe
                            display: none
                .trip-expand__origin
                    cursor: pointer
                td
                    padding: $box-pad/1.5 $box-pad/2.5
                @media screen and (max-width: $break-sm)
                    .no_visible
                        display: none
                .hard
                    border-bottom: none
                    background: #fafafa
                    td
                        padding: 0
                    // box-shadow: inset 0 -4px 2px -3px rgba(0,0,0,.1), inset 0 3px 2px -3px rgba(0,0,0,.1)
                    .trip-expand
                        padding: 28px
                        @media screen and (max-width: $break-sm)
                            padding: 0
                        .flexbox
                            display: flex
                            width: 100%
                            flex-direction: row
                            justify-content: center
                            align-items: center
                            @media screen and (max-width: $break-sm)
                                flex-direction: column
                            .flexbox__item
                    .one-third
                        width: 33.333%
                        @media screen and (max-width: $break-sm)
                            width: 100%
                            padding: $box-pad/2 0
                        &:nth-child(2)
                            border-right: 1px solid $gray-light-2
                            border-left: 1px solid $gray-light-2
                            @media screen and (max-width: $break-sm)
                                border: 0
                        .border_bottom
                            width: 90%
                            height: 1px
                            background-color: $gray-light-2
                            margin: $box-pad*1.2 auto
                        .container_d_h_a
                            flex-direction: column
                            .date_heure_adress
                                line-height: 1.5
                                margin-bottom: $box-pad/2
                                h7
                                    color: $gray_header
                                    text-transform: uppercase
                                    margin-bottom: 10px
                                h5
                                h6
                                .btn_mid
                                    margin: $box-pad/2 auto $box-pad auto
                                    width: 100%
                                    // &:last-child
                                    //     margin-bottom: 0
                                    .btn_w
                                        height: $box-pad+5px
                                        font-size: $box-pad/2
                                        padding: 0px $box-pad/2
                                        background-color: transparent
                                        border: solid 1px $turquoise
                                        color: $turquoise
                                        @media screen and (max-width: $break-sm)
                                            margin-bottom: $box-pad/2
                                        &:hover
                                            border: solid 1px $turquoise
                                            background-color: $turquoise
                                            color: $white
                            .container_details
                                display: flex
                                flex-direction: row
                                justify-content: center
                                .details
                                    display: flex
                                    flex-direction: row
                                    align-items: center
                                    width: 50%
                                    //border-bottom: 1px solid rgba($white, 0.5)
                                    padding: 0 $box-pad

                                    > div
                                        margin: 0 auto
                                    .ico
                                        margin: 0 $box-pad/2
                                        height: $box-pad/1.5
                                        width: $box-pad/1.5
                                        background-color: $black

                                    .boite_vitess

                                    .calendar
                                    .d_text
                                        text-transform: uppercase
                                        line-height: 1.3
                                        text-align: left
                        .container_n_s_v
                            // border-left: 800px solid transparent
                            // /* border-right: 0px solid transparent; */
                            // border-bottom: 40px solid $turquoise
                            z-index: 3
                            h1
                                margin-top: $box-pad/1.5
                                font-size: $box-pad/1.5
                                @media screen and (max-width: $break-sm)
                                    font-size: $box-pad/2+1px
                            .container_stars
                                margin: $box-pad*1.5 auto $box-pad/1.5 auto
                                @media screen and (max-width: $break-sm)
                                    margin: $box-pad auto $box-pad/1.5 auto
                                @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css)

                                /****** Style Star Rating Widget *****/

                                .rating
                                    border: none
                                    width: 50%
                                    width: 150px
                                    margin: 0 auto

                                    input
                                        display: none
                                    label:before
                                        margin: 5px
                                        font-size: 1.25em
                                        font-family: FontAwesome
                                        display: inline-block
                                        content: "\f005"
                                    .half:before
                                        content: "\f089"
                                        position: absolute
                                    label
                                        color: #ddd
                                        float: right

                                /***** CSS Magic to Highlight Stars on Hover *****/

                                .rating > input:checked ~ label, .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label
                                    color: #FFD700

                                .rating > input:checked + label:hover, .rating > input:checked ~ label:hover, .rating > label:hover ~ input:checked ~ label, .rating > input:checked ~ label:hover ~ label
                                    color: #FFED85

                                //.stars
                                    height: 40px



                            .images
                                @media screen and (max-width: $break-sm)
                                    width: 100%
                        .container_d_d
                            position: relative
                            //top: -$box-pad*3
                            z-index: 1
                            .diagonale
                                background: linear-gradient(to right bottom, transparent 50%, $turquoise 50%)
                                height: $box-pad*2
                            .container_details
                                background-color: $turquoise
                                .details
                                    border-bottom: 1px solid rgba($white, 0.5)
                                    padding: $box-pad/1.5 $box-pad
                                    display: flex
                                    flex-direction: row
                                    > div
                                        margin: 0 auto
                                    .ico, .border_line, .d_text
                                        align-items: center
                                    .ico
                                        width: 40%
                                        height: $box-pad/1.5
                                        width: $box-pad/1.5
                                        background-color: $white

                                    .boite_vitess

                                    .calendar

                                    .border_line
                                        width: 20%
                                        height: 1px
                                        background: $white
                                        margin-top: $box-pad/4
                                    .d_text
                                        width: 40%
                                        color: $white
                                        text-transform: uppercase
                                        line-height: 1.3
                                        text-align: left

                        iframe
                            width: 100%
