#fidelites, #locations
    p
        line-height: 1.7
        font-size: 18px
        @media screen and (max-width: $break-sm)
            width: 100%
            line-height: 1.4
            font-size: $box-pad/2
    h3
        width: 100%
        line-height: 33px
        @media screen and (max-width: $break-sm)
            margin: $box-pad/2 0 !important
    .border_bottom
        height: 2px
        margin: 0 auto $box-pad*2 auto
        width: 30%
        background-color: $black
        @media screen and (max-width: $break-sm)
            width: 50%
            margin: 0 auto $box-pad

    .footer_description
        &:hover
            @include transition(0.6s)
            transform: scale(1.1)
            -webkit-transform: scale(1.1)

    #header_my_account
        #comp_buttons
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: center
            @media screen and (max-width: $break-sm)
                flex-direction: column
                margin-top: $box-pad/2
        .btn_mid
            margin: 0 $box-pad
            width: 25%
            float: left
            @media screen and (max-width: $break-sm)
                width: 100%
                margin: 0
            .btn_w
                background-color: transparent
                border: solid 1px $turquoise
                color: $turquoise
                @media screen and (max-width: $break-sm)
                    margin-bottom: $box-pad/2
                &:hover
                    border: solid 1px $turquoise
                    background-color: $turquoise
                    color: $white
                    a
        h3
            margin: $box-pad*2 0 $box-pad 0
        .text_entete
            width: 70%
            margin: 0 auto
            @media screen and (max-width: $break-sm)
                width: 100%
                margin: 0
